.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #dd5757;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #582302;
  font-size: 8rem;
  color:#f0a43a;
}

p {
  font-size: 2rem;
  color:#f0a43a;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
}

img {
  width: 80%;
}

.button-div{
  margin-top: 50px;
}

.button{
  background-color: #f5571e;
  border: none;
  color: white;
  padding:15px 0;
  width:300px;
  height:80px;
  border-radius: 6px;
  cursor:pointer;
  font-size: 1.6rem;
  font-family: 'Indie Flower', cursive;
}

.button:hover{
  zoom: 115%;
}













footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.footer-text{
  color:white;
}